.todocontainer {
  background: blue;
}

.ipcontainer {
  background: yellow;
}

.donecontainer {
  background: yellowgreen;
}

.todocontainer .card {
  background: tomato;
}

.ipcontainer .card {
  background: lawngreen;
}

.donecontainer .card {
  background: blanchedalmond;
}
